{% macro displayArticles(article_list) %}
{% for article in article_list %}
<div class=" col-lg-2 well article-image"
  style="background-image: url({{article.urlToImage}}); background-size:100%; overflow:auto; height:40vh;">
  <div class="text-blo">
    <a href="{{ article.url }}">
      <h4>{{ article.title }}</h4>
    </a>
  </div>
</div>
{% endfor %}
{% endmacro %}

{% macro displaySources(source_list) %}
<div class="container source_list" style="font-family: 'Yanone Kaffeesatz', sans-serif; ">
{% for source in source_list %}

<div class=" col-md-4 well source">
  <div class="source_url">
    <p style="font-size: 30px;">
      {{ source.name }}
    </p>
    <div class="middle" style="font-size: 20px;">
      <div class="text">
        <a href="{{ source.url}}">CLick here to visit the site.</a>
      </div>
    </div>
    <div class="footer" style="font-size: 20px;">
      <a href="/article/{{source.id}}"><button style="background-color: navy; color: oldlace;">View Articles.</button></a>
    </div>
  </div>
</div>
{% endfor %}
</div>
<br>
{% endmacro %}

